.transferfungible {
  padding: 15px;

  .fungibletoken-section {

    &__inputs {
      width: 700px;
    }

    &__names {
      width: 700px;
    }

    &__addresses {
      width: 700px;
    }

    &__amount {
      width: 700px;
    }
  }

  .chain-contract-selection {
    &__select {
      width: 700px;
    }

    &__select-chain-dropdown {
      width: 150px;
    }

    &__select-contract-dropdown {
      width: 300px;
    }
  }
}